@{
    ViewBag.Title = "About";
}

<div class="container">
    <hr>
    <div class="row">
        <div class="span8">
            <div class="well">
                <h1>Gezginler Olarak Biz...</h1> <br />
                @*<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a lorem nec dolor suscipit posuere in id erat. Quisque accumsan pharetra commodo. Morbi sit amet lectus leo, faucibus facilisis felis. Aenean hendrerit nibh non leo elementum nec tristique nisl dictum. Suspendisse id felis massa, ac dapibus eros. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam erat volutpat. Pellentesque mollis varius nisl. Sed non velit tincidunt eros pulvinar molestie facilisis et est. Donec sem elit, eleifend quis sagittis non, porttitor nec orci. Aenean ut nisl est, sed tincidunt justo. Quisque elementum pharetra metus, in ornare nisi accumsan placerat. Integer volutpat lectus sed urna pretium tincidunt. Sed dui libero, congue nec eleifend tristique, pharetra eget odio. Aenean at est velit, sed posuere ligula. Nulla condimentum elit ac mauris rutrum tempor.</p>*@
                @*<ul>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                </ul>*@
                <p>Gün gelir de bir gün, izlediğimiz o sahnelerin içerisinde yer alan şanslılardan olduğumuzda, o olağanüstü fotoğrafların ve görüntülerin arkasında kameraların görüntülemediği ve fotoğrafların sergilemediği çok trajik hikayelere ve yaşamlara şahit olabiliriz. Edindiğiniz bilgiler ise hiç de ekranda gördüklerimiz gibi olmayabiliyor.</p>
                @*<ol>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                    <li>Sed non velit tincidunt eros pulvinar</li>
                    <li>Nulla condimentum elit</li>
                </ol>*@
                <p> Gezginler Ekibi olarak her daim sizleri bilinen veya bilinmeyen yerlerin , keşfedilmemiş güzellikleriyle tanıştırıyoruz. Hedefimiz, gezmeyi çok seven ve gezdikleri yerlerdeki maceralarını, eğlencelerini insanlarla paylaşmak, rehber olmak, önerilerini aktarmak isteyenler için ve seyahat etmeyi düşünenlere yol gösterici rehber olmasını amaçladığımız bir platform oluşturmaktır.</p>
                <p>Evet. Yol arkadaşının olması tabi ki çok büyük bir şanstır. Ama herkes yol arkadaşı edinmek zorunda değil ki. Belki sen yalnız olmayı, birisi ile birlikte gezmekten daha çok seveceksin ! Hem ayrıca yalnız olacağını kim söyledi sana ? Kalacağın her bir hostel yani yurttta, senin gibi kaç tane yalnız gezen insan olacak biliyor musun ? Hem bu senin için daha iyi bir fırsat değil mi ? Böylece yepyeni arkadaşlıklar edinir, hiç tanımadığın yol arkadaşlarından yepyeni kültürler, hayaller ve hayatlar öğrenmiş olursun. İnan bana. Yalnız gitmek bahaneden başka bir şey değil…</p>
                <p>Olay, inan bana insan gezerken, yeni yerler keşfetme aruzusu içindeyken bırak t shirtü, yemesi gereken yemeği bile unutuyor sırf yeni yerler göreyim diye.

Eğer sen de böyle şeyleri çok umursamıyorsan dosdum, inan bana bizden birisin demektir. Bırak varsın başkaları laf etsin. Sen bildiğini oku. Alacağın yeni bir kıyafetin değil, hayallerinin peşine düş. İnan bana gideceğin yepyeni bir şehir, alacağın yeni bir t shirtten daha fazla mutlu edecek seni. Ayrıca inan bana, ilerde kimseye alacağın t shirtü anlatmayacaksın. Ama göreceğin bambaşka bir dünya, yepyeni anılar hayatında çok güzel yerler edinmeni sağlayacak.</p>
            </div>
        </div>
        <div class="span4">
            
            @*<table border="1" style="width:300px; height:200px;">
                <tr>
                    <th>ÜYELERİN ADI SOYADI</th>
                    <th>İLETİŞİM ADRESİ</th>
                </tr>
                <tr>
                    <td>Seda Bilgin</td>
                    <td>sedabilgn@gmail.com</td>
                </tr>
                <tr>
                    <td>Ela Deniz</td>
                    <td>eladeniz@gmail.com</td>
                </tr>
                <tr>
                    <td colspan="2"><a href="#">Daha Fazla İletişim Adresi</a></td>
                    
                </tr>
            </table>*@
           
           
            <a href="#"><img  src="~/Content/img/slider1.jpg" alt=""></a>
           <br /><br />
            <a href="#"><img  src="~/Content/img/travel-alone.jpg" alt=""></a>
        </div>
    </div>
    <!--Start second row of columns-->
    @*<div class="row">
        <div class="span4">
            <h3>Column One</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
        <div class="span4">
            <h3>Column Two</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
        <div class="span4">
            <h3>Column Three</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat sem vel nibh bibendum auctor. Nullam non magna in quam egestas blandit a a justo. Integer vel rhoncus tellus. Vivamus et iaculis tortor. Quisque fermentum arcu dolor. Duis mollis libero et ipsum euismod sed gravida sem pretium. Aliquam eu eros at velit laoreet rhoncus. Nulla a urna eu diam cursus tempor.</p>
        </div>
    </div>*@
</div>