
@{
    ViewBag.Title = "Kayıtbasarili";
}
<br />
<div class="container">
    <h2 style="font-family:'Times New Roman', Times, serif; font-size:20px;">KAYDINIZ BAŞARILI BİR ŞEKİLDE GERÇEKLEŞTİRİLMİŞTİR.</h2>
    @Html.ActionLink("Giriş Sayfasına gitmek için tıklayınız.", "GirisYap", "Home");
</div>

